<div id="content">
<div class="sect3">
<h4 id="_1004_entities_minimal_definition_linked_entity">#1004 Entities Minimal Definition Linked Entity</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <em>Entity</em> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>— <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code>, <code>PULL_RESPONSE/REQUEST</code>, <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<caption class="title">Table 1. specific rule concern</caption>
<colgroup><col width="5%">
<col width="23%">
<col width="20%">
<col width="26%">
<col width="26%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><em>N</em></p></td>
<td align="left" valign="top"><p class="table"><em>Title</em></p></td>
<td align="left" valign="top"><p class="table"><em>Entity</em></p></td>
<td align="left" valign="top"><p class="table"><em>Attribute</em></p></td>
<td align="left" valign="top"><p class="table"><em>Gherkin</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">18</p></td>
<td align="left" valign="top"><p class="table">UnexpectedMovement Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>PollutionIncident</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> its <strong>attribute</strong> <code>AnomalyType</code> have value : <code>UNEXPECTED_MOVEMENT</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Object</code> (+ subtypes) or  <code>Person</code> (+ subtypes).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">19</p></td>
<td align="left" valign="top"><p class="table">CargoLeaking Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>PollutionIncident</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> its <strong>attribute</strong> <code>AnomalyType</code> have value : <code>CARGO_LEAKING</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Vessel</code> or  <code>Cargo</code> or  <code>ContainmentUnit</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">20</p></td>
<td align="left" valign="top"><p class="table">ShiftingOfCargo Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>PollutionIncident</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> its <strong>attribute</strong> <code>AnomalyType</code> have value : <code>SHIFTING_OF_CARGO</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Object</code> (+ its children entities).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">21</p></td>
<td align="left" valign="top"><p class="table">VesselAnomaly Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>PollutionIncident</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> its <strong>attribute</strong> <code>AnomalyType</code> have value : <code>VESSEL_OUT_OF_TRAFFIC_LANES</code> or <code>VESSEL_WITH_ERRATIC_MOVEMENTS</code> or <code>DETECION_OF_CHANGES_IN_AIS_PARAMETERS</code> or <code>PERFORMING_AIS_SPOOFING</code> or <code>WITHOUT_AIS_TRANSMISSION</code> or <code>DO_NOT_ANSWER_ON_VHF_CH_16</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Vessel</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">22</p></td>
<td align="left" valign="top"><p class="table">StainOfOilSighted Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>PollutionIncident</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> its <strong>attribute</strong> <code>AnomalyType</code> have value : <code>STAIN_OF_OIL_SIGHTED</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Location</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">27</p></td>
<td align="left" valign="top"><p class="table">PollutionIncident Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>PollutionIncident</code> (+ its children entities)</p></td>
<td align="left" valign="top"><p class="table"></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>EventDocument</code>,<code>Risk</code>,<code>Object</code>(+ its children entities),<code>Agent</code>(+ its children entities),<code>Location</code>(+ its children entities),<code>Organization</code>(+ its children entities).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">29</p></td>
<td align="left" valign="top"><p class="table">MaritimeSafetyIncident* Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>Pollution</code> (+ its children entities)</p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it <em>define with predefined value</em> <strong>attribute</strong> <code>MaritimeSafetyIncidentType</code> <em>as</em> <code>POLLUTION</code> or <code>WASTE</code> or <code>LOST_FOUND_CONTAINERS</code> or <code>FIRE</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> of type <code>Vessel</code>, <code>Cargo</code>, <code>Location</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">30</p></td>
<td align="left" valign="top"><p class="table">VesselIncidents Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>Incident</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it <em>define with predefined value</em> <strong>attribute</strong> <code>MaritimeSafetyIncidentType</code> <em>as</em> <code>VTS_RULES_INFRINGEMENT</code> or <code>BANNED_SHIP</code> or <code>INSURANCE_FAILURE</code> or <code>PILOT_OR_PORT_REPORT</code> or <code>COLLISION</code> or <code>CAPSIZING</code> or <code>ENGINE_FAILURE</code> or <code>STRUCTURAL_FAILURE</code> or <code>STEERING_GEAR_FAILURE</code> or <code>ELECTRICAL_GENERATING_SYSTEM_FAILURE</code> or <code>NAVIGATION_EQUIPMENT_FAILURE</code> or <code>NAVIGATION_EQUIPMENT_FAILURE</code> or <code>COMMUNICATION_EQUIPMENT_FAILURE</code> or <code>INCIDENT_NATURE_ABANDON_SHIP</code> or <code>INCIDENT_NATURE_SINKING</code> or <code>DETAINED_SHIP</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> of type <code>Vehicle</code> (+ its children entities).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">31</p></td>
<td align="left" valign="top"><p class="table">Incident Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>Incident</code> or  <code>MaritimeSafetyIncident</code> or  <code>IrregularMigrationIncident</code> or  <code>LawInfringementIncident</code> or  <code>CrisisIncident</code></p></td>
<td align="left" valign="top"><p class="table"></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> <strong>relation to entity(ies)</strong> of type <code>EventDocument</code> or <code>Risk</code> or <code>Vehicle</code>(+ its children entities) or <code>Location</code>(+ its children entities) or <code>Organization</code>(+ its children entities).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">57</p></td>
<td align="left" valign="top"><p class="table">Action Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>Action</code></p></td>
<td align="left" valign="top"><p class="table"></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code>  <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Document</code> (+ its children entities) or  <code>Event</code> entity (+ its children entities) or <code>Object</code> (+ its children entities).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">58</p></td>
<td align="left" valign="top"><p class="table">Movement Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>Movement</code></p></td>
<td align="left" valign="top"><p class="table"></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Location</code> entity (+ its children entities) or <code>Object</code> (+ its children entities).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">60</p></td>
<td align="left" valign="top"><p class="table">MeteoOceanographicCondition Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>MeteoOceanographicCondition</code></p></td>
<td align="left" valign="top"><p class="table"></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <em>must define at least one</em> <strong>relation to entity(ies)</strong> <code>Location</code> (+ its children entities).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">61</p></td>
<td align="left" valign="top"><p class="table">Risk Minimum Context</p></td>
<td align="left" valign="top"><p class="table"><code>Risk</code></p></td>
<td align="left" valign="top"><p class="table"></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must define at least one</em> a <strong>relation to Entity(ies)</strong> <code>Document</code> (+ its children entities) or
<code>Event</code> (+ its children entities) or
<code>Object</code> (+ its children entities) or
<code>Agent</code> (+ its children entities) or
<code>Location</code> (+ its children entities).</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>