<div id="content">
<div class="sect3">
<h4 id="_1003_fields_value_boundary">#1003 Fields Value Boundary</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <em>Entity</em> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code>, <code>PULL_RESPONSE/REQUEST</code>, <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<caption class="title">Table 1. specific rule concern</caption>
<colgroup><col width="5%">
<col width="23%">
<col width="20%">
<col width="26%">
<col width="26%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><em>N</em></p></td>
<td align="left" valign="top"><p class="table"><em>Title</em></p></td>
<td align="left" valign="top"><p class="table"><em>Entity</em></p></td>
<td align="left" valign="top"><p class="table"><em>Attribute</em></p></td>
<td align="left" valign="top"><p class="table"><em>Gherkin</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">98</p></td>
<td align="left" valign="top"><p class="table">Boundary Vessel attributes</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>beam</code>, <code>breadth</code>, <code>containerCapacity</code>, <code>deadweight</code>, <code>depth</code>, <code>draught</code>, <code>grossTonnage</code>, <code>length</code>, <code>lengthenedYear</code>, <code>loa</code>, <code>netTonnage</code>, <code>segregatedBallastVolume</code>, <code>yearBuilt</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> value <em>must be in accepted range</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">99</p></td>
<td align="left" valign="top"><p class="table">Boundary Vehicule attributes</p></td>
<td align="left" valign="top"><p class="table"><code>Vehicule</code> subtype <code>Aircraft</code>, <code>LandVehicle</code>, <code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>totalPersonsOnBoard</code>, <code>maximumSpeed</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> value <em>must be in accepted range</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">100</p></td>
<td align="left" valign="top"><p class="table">Boundary ContainmentUnit attributes</p></td>
<td align="left" valign="top"><p class="table"><code>ContainmentUnit</code></p></td>
<td align="left" valign="top"><p class="table"><code>flashPoint</code>, <code>grossQuantity</code>, <code>netQuantity</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> value <em>must be in accepted range</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">101</p></td>
<td align="left" valign="top"><p class="table">Boundary Catch attributes</p></td>
<td align="left" valign="top"><p class="table"><code>Catch</code></p></td>
<td align="left" valign="top"><p class="table"><code>catchWeight</code>, <code>fishNumber</code>, <code>netHeld</code>, <code>quantityHeld</code>, <code>sizeDeclaration</code>, <code>totalNumber</code>, <code>totalWeight</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> value <em>must be in accepted range</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">102</p></td>
<td align="left" valign="top"><p class="table">Boundary OperationalAsset attributes</p></td>
<td align="left" valign="top"><p class="table"><code>OperationalAsset</code></p></td>
<td align="left" valign="top"><p class="table"><code>maxPassengers</code>, <code>range</code>, <code>maxSpeed</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> value <em>must be in accepted range</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">103</p></td>
<td align="left" valign="top"><p class="table">Boundary MeteoOceanographicCondition attributes</p></td>
<td align="left" valign="top"><p class="table"><code>MeteoOceanographicCondition</code></p></td>
<td align="left" valign="top"><p class="table"><code>airTemperature</code>, <code>cloudCeiling</code>, <code>precipitation</code>, <code>salinity</code>, <code>seaLevelPressure</code>, <code>tidalCurrentDirection</code>, <code>tidalCurrentSpeed</code>, <code>visibility</code>, <code>waterTemperature</code>, <code>waveDirection</code>, <code>waveHeight</code>, <code>windCurrentDirection</code>, <code>windCurrentSpeed</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> value <em>must be in accepted range</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">104</p></td>
<td align="left" valign="top"><p class="table">Boundary MeteoOceanographicCondition attributes</p></td>
<td align="left" valign="top"><p class="table"><code>Incident</code> subtype <code>MaritimeSafetyIncident</code>, <code>IrregularMigrationIncident</code>, <code>LawInfringementIncident</code>, <code>CrisisIncident</code></p></td>
<td align="left" valign="top"><p class="table"><code>deathsOnBoard</code>, <code>numberOfIIllPersons</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> value <em>must be in accepted range</em></p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="_98_boundary_vessel_attributes">#98 Boundary Vessel attributes</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <code>Vessel</code> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code> or <code>PULL_RESPONSE/REQUEST</code> or <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>attribute</strong> <code>beam</code> or <code>breadth</code> or <code>containerCapacity</code> or <code>deadweight</code> or <code>depth</code> or <code>draught</code> or <code>grossTonnage</code> or <code>length</code> or <code>lengthenedYear</code> or <code>loa</code> or <code>netTonnage</code> or <code>segregatedBallastVolume</code> or <code>yearBuilt</code>  <em>is  defined</em>
<br>
<code>*THEN*</code> <strong>attribute</strong> <em>must be in accepted range</em></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<colgroup><col width="33%">
<col width="33%">
<col width="33%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><strong>attribute</strong></p></td>
<td align="left" valign="top"><p class="table"><em>min</em></p></td>
<td align="left" valign="top"><p class="table"><em>max</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">beam</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">70 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">breadth</p></td>
<td align="left" valign="top"><p class="table">1</p></td>
<td align="left" valign="top"><p class="table">70 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">containerCapacity</p></td>
<td align="left" valign="top"><p class="table">1</p></td>
<td align="left" valign="top"><p class="table">30000 TEU (twenty-foot equivalent unit)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">deadweight</p></td>
<td align="left" valign="top"><p class="table">1</p></td>
<td align="left" valign="top"><p class="table">300000 tonne(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">depth</p></td>
<td align="left" valign="top"><p class="table">0.99</p></td>
<td align="left" valign="top"><p class="table">50.0 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">draught</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">50.0 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">designSpeed</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">300.0 knot(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">grossTonnage</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">400000.0 units(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">length</p></td>
<td align="left" valign="top"><p class="table">0.99</p></td>
<td align="left" valign="top"><p class="table">500.0 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">lengthenedYear</p></td>
<td align="left" valign="top"><p class="table">1800</p></td>
<td align="left" valign="top"><p class="table">2060 (date)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">loa</p></td>
<td align="left" valign="top"><p class="table">1.0</p></td>
<td align="left" valign="top"><p class="table">500.0 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">netTonnage</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">400000.0 units(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">segregatedBallastVolume</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">50000.0 m3</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">yearBuilt</p></td>
<td align="left" valign="top"><p class="table">1800</p></td>
<td align="left" valign="top"><p class="table">2060 (date)</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="_99_boundary_vehicule_attributes">#99 Boundary Vehicule attributes</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of  <code>Vehicule</code> subtype <code>Aircraft</code> or <code>LandVehicle</code> or <code>Vessel</code> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code> or <code>PULL_RESPONSE/REQUEST</code> or <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>attribute</strong> <code>totalPersonsOnBoard</code> or <code>maximumSpeed</code> <em>is  defined</em>
<br>
<code>*THEN*</code>  <strong>attribute</strong> <em>must be in accepted range</em></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<colgroup><col width="33%">
<col width="33%">
<col width="33%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><strong>attribute</strong></p></td>
<td align="left" valign="top"><p class="table"><em>min</em></p></td>
<td align="left" valign="top"><p class="table"><em>max</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">totalPersonsOnBoard</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">4500 person(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">maximumSpeed</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">300.0 knot(s)</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="_100_boundary_containmentunit_attributes">#100 Boundary ContainmentUnit attributes</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <code>ContainmentUnit</code> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code> or <code>PULL_RESPONSE/REQUEST</code> or <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>attribute</strong> <code>flashPoint</code> or <code>grossQuantity</code> or <code>netQuantity</code> <em>is  defined</em></p></div>
<div class="paragraph"><p><code>*THEN*</code> <strong>attribute</strong> <em>must be in accepted range</em></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<colgroup><col width="33%">
<col width="33%">
<col width="33%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><strong>attribute</strong></p></td>
<td align="left" valign="top"><p class="table"><em>min</em></p></td>
<td align="left" valign="top"><p class="table"><em>max</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">flashPoint</p></td>
<td align="left" valign="top"><p class="table">-20.0</p></td>
<td align="left" valign="top"><p class="table">200.0 Celsius(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">grossQuantity</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">60000.0 kg(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">netQuantity</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">60000.0 kg(s)</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="_101_boundary_catch_attributes">#101 Boundary Catch attributes</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <code>Catch</code> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code> or <code>PULL_RESPONSE/REQUEST</code> or <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>attribute</strong> <code>catchWeight</code> or <code>fishNumber</code> or <code>netHeld</code> or <code>quantityHeld</code> or <code>sizeDeclaration</code> or <code>totalNumber</code> or <code>totalWeight</code> <em>is  defined</em></p></div>
<div class="paragraph"><p><code>*THEN*</code> <strong>attribute</strong> <em>must be in accepted range</em></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<colgroup><col width="33%">
<col width="33%">
<col width="33%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><strong>attribute</strong></p></td>
<td align="left" valign="top"><p class="table"><em>min</em></p></td>
<td align="left" valign="top"><p class="table"><em>max</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">catchWeight</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">20000000.0 kg(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">fishNumber</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">15000 unit(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">netHeld</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">15000.0 unit(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">quantityHeld</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">15000.0 unit(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">sizeDeclaration</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">1500.0 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">totalNumber</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">15000 unit(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">totalWeight</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">20000000.0 kg(s)</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="_102_boundary_operationalasset_attributes">#102 Boundary OperationalAsset attributes</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <code>OperationalAsset</code> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code> or <code>PULL_RESPONSE/REQUEST</code> or <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>attribute</strong> <code>maxPassengers</code> or <code>range</code> or <code>maxSpeed</code> <em>is  defined</em></p></div>
<div class="paragraph"><p><code>*THEN*</code> <strong>attribute</strong> <em>must be in accepted range</em></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<colgroup><col width="33%">
<col width="33%">
<col width="33%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><strong>attribute</strong></p></td>
<td align="left" valign="top"><p class="table"><em>min</em></p></td>
<td align="left" valign="top"><p class="table"><em>max</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">maxPassengers</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">4500 person(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">range</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">10000.0</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">km(s)</p></td>
<td align="left" valign="top"><p class="table">maxSpeed</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="_103_boundary_meteooceanographiccondition_attributes">#103 Boundary MeteoOceanographicCondition attributes</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <code>MeteoOceanographicCondition</code> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code> or <code>PULL_RESPONSE/REQUEST</code> or <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>attribute</strong> <code>airTemperature</code> or <code>cloudCeiling</code> or <code>precipitation</code> or <code>salinity</code> or <code>seaLevelPressure</code> or <code>tidalCurrentDirection</code> or <code>tidalCurrentSpeed</code> or <code>visibility</code> or <code>waterTemperature</code> or <code>waveDirection</code> or <code>waveHeight</code> or <code>windCurrentDirection</code> or <code>windCurrentSpeed</code> <em>is  defined</em></p></div>
<div class="paragraph"><p><code>*THEN*</code> <strong>attribute</strong> <em>must be in accepted range</em></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<colgroup><col width="33%">
<col width="33%">
<col width="33%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><strong>attribute</strong></p></td>
<td align="left" valign="top"><p class="table"><em>min</em></p></td>
<td align="left" valign="top"><p class="table"><em>max</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">airTemperature</p></td>
<td align="left" valign="top"><p class="table">-50.0</p></td>
<td align="left" valign="top"><p class="table">50.0 Celsius degree(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">cloudCeiling</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">30000 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">precipitation</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">1000 millimeters(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">salinity</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">200.0 g/kg</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">seaLevelPressure</p></td>
<td align="left" valign="top"><p class="table">400.0</p></td>
<td align="left" valign="top"><p class="table">1200.0 hPa</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">tidalCurrentDirection</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">360.0 degree(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">tidalCurrentSpeed</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">100.0 knot(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">visibility</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">12.0 nautical mile(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">waterTemperature</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">40.0 Celsius degree(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">waveDirection</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">360.0 degree(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">waveHeight</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">30.0 meter(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">windCurrentDirection</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">360.0 degree(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">windCurrentSpeed</p></td>
<td align="left" valign="top"><p class="table">0.0</p></td>
<td align="left" valign="top"><p class="table">70.0 meter(s)/second</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="_104_boundary_operationalasset_attributes">#104 Boundary OperationalAsset attributes</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of <code>Incident</code> subtype  <code>MaritimeSafetyIncident</code> or <code>IrregularMigrationIncident</code> or <code>LawInfringementIncident</code> or <code>CrisisIncident</code> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code> or <code>PULL_RESPONSE/REQUEST</code> or <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="paragraph"><p>—  <code>*AND*</code> <strong>attribute</strong> <code>deathsOnBoard</code> or <code>numberOfIIllPersons</code> <em>is  defined</em></p></div>
<div class="paragraph"><p><code>*THEN*</code> <strong>attribute</strong> <em>must be in accepted range</em></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<colgroup><col width="33%">
<col width="33%">
<col width="33%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><strong>attribute</strong></p></td>
<td align="left" valign="top"><p class="table"><em>min</em></p></td>
<td align="left" valign="top"><p class="table"><em>max</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">deathsOnBoard</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">7500 person(s)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">numberOfIIllPersons</p></td>
<td align="left" valign="top"><p class="table">0</p></td>
<td align="left" valign="top"><p class="table">7500 person(s)</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>