<div id="content">
<div class="sect3">
<h4 id="_1001_entities_attributes_coherency">#1001 Entities Attributes coherency</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies) of type  in <code>PUSH</code> or <code>PUSH_RESPONSE</code> or <code>PUSH_SUBSCRIBE</code> payload</strong></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<caption class="title">Table 1. specific rule concern</caption>
<colgroup><col width="5%">
<col width="15%">
<col width="15%">
<col width="15%">
<col width="45%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><em>N</em></p></td>
<td align="left" valign="top"><p class="table"><em>Title</em></p></td>
<td align="left" valign="top"><p class="table"><em>Entity</em></p></td>
<td align="left" valign="top"><p class="table"><em>Link</em></p></td>
<td align="left" valign="top"><p class="table"><em>Gherkin</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">32</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Coherent With Vessel</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it must have end with entity(ies) of type <code>VesselDocument</code>, <code>CertificateDocument</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">33</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Coherent With Location</p></td>
<td align="left" valign="top"><p class="table"><code>Location</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it must have end with entity(ies) of type <code>LocationDocument</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">34</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Coherent With Event</p></td>
<td align="left" valign="top"><p class="table"><code>Event</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it must have end with entity(ies) of type <code>EventDocument</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">35</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Coherent With Cargo</p></td>
<td align="left" valign="top"><p class="table"><code>Cargo</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it must have end with entity(ies) of type <code>CargoDocument</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">36</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Coherent With Organization</p></td>
<td align="left" valign="top"><p class="table"><code>Organization</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it must have end with entity(ies) of type <code>OrganizationDocument</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">37</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Coherent With Risk</p></td>
<td align="left" valign="top"><p class="table"><code>Risk</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it must have end with entity(ies) of type <code>RiskDocument</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">38</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Coherent With Person</p></td>
<td align="left" valign="top"><p class="table"><code>Person</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it must have end with entity(ies) of type <code>PersonDocument</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">62</p></td>
<td align="left" valign="top"><p class="table">LinkObjectLocation CargoUnit</p></td>
<td align="left" valign="top"><p class="table"><code>Cargo</code> or <code>ContainmentUnit</code> or <code>Catch</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Location</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must not define</em> attribute <code>COGHeading</code>,<code>PlannedOperation</code>,<code>PlannedWork</code>,<code>SensorType</code>,<code>SOGSpeed</code>
<code>*AND*</code> it <em>must not have predetermined value for</em> attribute <code>LocationRole</code> in <code>PORT_OF_DISCHARGE</code>, <code>LENGTHENED_PLACE</code>, <code>PORT_OF_EMBARKATION</code>, <code>PORT_OF_DISEMBARKATION</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">63</p></td>
<td align="left" valign="top"><p class="table">LinkObjectLocation Vehicule</p></td>
<td align="left" valign="top"><p class="table"><code>Cargo</code> or <code>ContainmentUnit</code> or <code>Catch</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> it have a relation to <code>Location</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> it <em>must not have predetermined value for</em> attribute <code>LocationRole</code> in <code>PORT_OF_DISCHARGE</code>, <code>PORT_OF_LOADING</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">64</p></td>
<td align="left" valign="top"><p class="table">LinkObjectObject Agent Organization</p></td>
<td align="left" valign="top"><p class="table"><code>Organization</code> or <code>OrganizationalUnit</code> or <code>PortOrganization</code> or <code>FormalOrganuzation</code> or <code>OrganizationalCollaboration</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Object</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>AgentRole</code> in <code>PASSENGER</code>, <code>CREW_MEMBER</code>, <code>CAPTAIN_MASTER</code>, <code>COMPANY_SECURITY_OFFICER</code>, <code>EMPLOYEE</code>, <code>CREW_MEMBER</code>.
<code>*AND*</code> relation <em>must not define</em> attribute :<code>TransitPassengerDuty</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">65</p></td>
<td align="left" valign="top"><p class="table">LinkObjectObject Agent Organization</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code> or <code>Aircraft</code> or <code>LandVehicle</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Person</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>AgentRole</code> in <code>SHIP_OPERATING_COMPANY</code>, <code>VESSEL_COMPANY</code>, <code>SHIPPING_LINE</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">66</p></td>
<td align="left" valign="top"><p class="table">LinkObjectObject Agent CargoUnit</p></td>
<td align="left" valign="top"><p class="table"><code>ContainmentUnit</code> or <code>Catch</code> or <code>PortOrganization</code> or <code>Cargo</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Person</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>AgentRole</code> in <code>PASSENGER</code>, <code>CREW_MEMBER</code>, <code>CAPTAIN_MASTER</code>, <code>SHIP_OPERATING_COMPANY</code>, <code>VESSEL_COMPANY</code>, <code>EMPLOYEE</code>
<code>VESSEL_BUILDER</code> , <code>VESSEL_CHARTERER</code>, <code>VESSEL_REGISTERED_OWNER</code>, <code>SHIPPING_LINE</code>
<code>*AND*</code> relation <em>must not define</em> attribute :<code>TransitPassengerDuty</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">67</p></td>
<td align="left" valign="top"><p class="table">LinkObjectEvent Event CargoUnit</p></td>
<td align="left" valign="top"><p class="table"><code>ContainmentUnit</code> or <code>Catch</code> or <code>Cargo</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Object</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>ObjectRole</code> in <code>COORDINATOR</code>, <code>PARTICIPANT</code>, <code>OBSERVER</code>, <code>REPORTER</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">68</p></td>
<td align="left" valign="top"><p class="table">Link Object Movement</p></td>
<td align="left" valign="top"><p class="table"><code>Movement</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Object</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>ObjectRole</code> in <code>COORDINATOR</code>, <code>CAUSE</code>, <code>VICTIM</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">69</p></td>
<td align="left" valign="top"><p class="table">Link Object Anomaly</p></td>
<td align="left" valign="top"><p class="table"><code>Anomaly</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Object</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>ObjectRole</code> in <code>COORDINATOR</code>, <code>MEAN</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">70</p></td>
<td align="left" valign="top"><p class="table">Link Agent Movement</p></td>
<td align="left" valign="top"><p class="table"><code>Anomaly</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Movement</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>ObjectRole</code> in <code>COORDINATOR</code>, <code>CAUSE</code>, <code>VICTIM</code>, <code>PERPETRATOR</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">71</p></td>
<td align="left" valign="top"><p class="table">Link Anomaly Agent</p></td>
<td align="left" valign="top"><p class="table"><code>Anomaly</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Agent</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation _must not have</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">72</p></td>
<td align="left" valign="top"><p class="table">Link Movement Location</p></td>
<td align="left" valign="top"><p class="table"><code>Movement</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Location</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> itsattribute* <code>EventArea</code> <em>must not be defined</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">73</p></td>
<td align="left" valign="top"><p class="table">Link Movement Location</p></td>
<td align="left" valign="top"><p class="table"><code>Organization</code> or <code>OrganizationUnit</code> or <code>PortOrganization</code> or <code>FormalOrganization</code> or <code>OrganizationalCollaboration</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Location</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> relation <em>must not have predetermined value for</em> attribute <code>AgentRole</code> in
<code>COUNTRY_OF_BIRTH</code>,
<code>PLACE_OF_BIRTH</code>,
<code>COUNTRY_OF_DEATH</code>,
<code>PLACE_OF_DEATH</code>,
<code>EMBARKATION_PORT</code>,
<code>DISEMBARKATION_PORT</code>,
<code>COUNTRY_OF_RESIDENCE</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">74</p></td>
<td align="left" valign="top"><p class="table">Link Person Person</p></td>
<td align="left" valign="top"><p class="table"><code>Person</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> its relation(s) cannot have for destination entity(ies) of type <code>Person</code></p></td>
<td align="left" valign="top"><p class="table"></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">75</p></td>
<td align="left" valign="top"><p class="table">Link Movement Location</p></td>
<td align="left" valign="top"><p class="table"><code>Organization</code> or <code>OrganizationUnit</code> or <code>PortOrganization</code> or <code>FormalOrganization</code> or <code>OrganizationalCollaboration</code></p></td>
<td align="left" valign="top"><p class="table"><code>*AND*</code> have relation(s) to <code>Organization</code> or <code>OrganizationUnit</code> or <code>PortOrganization</code> or <code>FormalOrganization</code> or <code>OrganizationalCollaboration</code> entity(ies)</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> its attribute* <code>Duty</code> <em>must not be defined</em></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>