<div id="content">
<div class="sect3">
<h4 id="_1000_entities_minimal_definition">#1000 Entities Minimal Definition</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type …</p></div>
<div class="paragraph"><p><code>*THEN*</code> it _must define   …</p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<caption class="title">Table 1. specific rule concern</caption>
<colgroup><col width="5%">
<col width="15%">
<col width="15%">
<col width="65%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><em>N</em></p></td>
<td align="left" valign="top"><p class="table"><em>Title</em></p></td>
<td align="left" valign="top"><p class="table"><em>Entity</em></p></td>
<td align="left" valign="top"><p class="table"><em>Gherkin</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">10</p></td>
<td align="left" valign="top"><p class="table">Vessel Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it  <em>must define one of</em> <strong>attribute</strong>: <code>CallSign</code>, <code>IMONumber</code>, <code>IRNumber</code>, <code>MMSI</code>, <code>RegistryNumber</code>, <code>UVI</code>, <code>Name</code>, <code>ExternalMarkings</code>, <code>Location</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">11</p></td>
<td align="left" valign="top"><p class="table">Person Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>Person</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it <em>must define one of</em> <strong>attribute</strong>: <code>AlternativeName</code>, <code>BirthName</code>, <code>ContactInformation</code>, <code>FamilyName</code>, <code>FullName</code>, <code>GIVENName</code>, <code>PatronymicName</code>, <code>PersonIdentifier</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">12</p></td>
<td align="left" valign="top"><p class="table">Organization Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>Organization</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it <em>must define one of</em> <strong>attribute</strong>: <code>AlternativeName</code>, <code>IdentificationNumber</code>, <code>LegalName</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">13</p></td>
<td align="left" valign="top"><p class="table">OrganizationUnit Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>OrganizationUnit</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it <em>must define one of</em> <strong>attribute</strong>: <code>AlternativeName</code>, <code>IdentificationNumber</code>, <code>LegalName</code>, <code>UnitIdentifier</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">14</p></td>
<td align="left" valign="top"><p class="table">PortOrganization Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>PortOrganization</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it <em>must define one of</em> <strong>attribute</strong>: <code>AlternativeName</code>, <code>IdentificationNumber</code>, <code>LegalName</code>, <code>IMOCompany</code>, <code>IdentificationNumber</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">15</p></td>
<td align="left" valign="top"><p class="table">FormalOrganization Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>FormalOrganization</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it <em>must define one of</em> <strong>attribute</strong>: <code>AlternativeName</code>, <code>IdentificationNumber</code>, <code>LegalName</code>, <code>FormalOrganizationName</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">16</p></td>
<td align="left" valign="top"><p class="table">AircraftAndLandvehicle Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>Aircraft</code> or <code>Landvehicle</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it <em>must define one of</em> <strong>attribute</strong>: <code>ExternalMarkings</code>, <code>Name</code>
<code>*OR*</code> define at least a <strong>relation to</strong>: <code>Location</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">17</p></td>
<td align="left" valign="top"><p class="table">Anomaly Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>Anomaly</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code>  it <em>must define</em> <strong>attribute</strong> : <code>AnomalyType</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">24</p></td>
<td align="left" valign="top"><p class="table">AttachedDocument Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>XxxxxDocument where Xxxxx can be Vessel, Cargo, Event, Location, Organization, Person, Certificate</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code>  <em>must define</em> <strong>attribute</strong> <code>ContentReferenceURI</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">25</p></td>
<td align="left" valign="top"><p class="table">Identification Of DocumentType</p></td>
<td align="left" valign="top"><p class="table"><code>XxxxxDocument where Xxxxx can be Vessel, Cargo, Event, Location, Organization, Person, Certificate</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it  <em>must define</em> <strong>attribute</strong> <code>Metadata</code>  <br>
<code>*AND*</code> <em>must define at least one</em>  <code>Metadata</code> element with  key <code>FileMediaType</code> and non empty value.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">39</p></td>
<td align="left" valign="top"><p class="table">Location Minimum Definition</p></td>
<td align="left" valign="top"><p class="table"><code>Location</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code>  <em>must define</em> <strong>attribute</strong> <code>GeographicName</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">40</p></td>
<td align="left" valign="top"><p class="table">Geometry Minimum Validity</p></td>
<td align="left" valign="top"><p class="table"><code>Geometry</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it  <em>must define</em> <strong>attribute</strong> <code>Latitude</code> and <code>Longitude</code>, or <code>WKT</code>, or <code>XMLGeometry</code> (exclusively).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">41</p></td>
<td align="left" valign="top"><p class="table">Geometry WKT Validity</p></td>
<td align="left" valign="top"><p class="table"><code>Geometry</code> sub-type <code>WKT</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> <em>must define a valid value of</em> <strong>Element</strong> <code>WKT</code> syntax.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">42</p></td>
<td align="left" valign="top"><p class="table">Geometry XMLGeometry Validity</p></td>
<td align="left" valign="top"><p class="table"><code>Geometry</code> sub-type <code>XMLGeometry</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code>  <em>must define a valid value of</em>  <strong>Element</strong> <code>XMLGeometry</code> syntax.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">43</p></td>
<td align="left" valign="top"><p class="table">NamedLocation Minimum Definition</p></td>
<td align="left" valign="top"><p class="table"><code>NamedLocation</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code>  <em>must define at least one</em> <strong>attribute</strong> <code>geographicNames</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">44</p></td>
<td align="left" valign="top"><p class="table">PortLocation Minimum Definition</p></td>
<td align="left" valign="top"><p class="table"><code>PortLocation</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code>  <em>must define at least one</em> <strong>attribute</strong> <code>portName´, ´locationCode</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">45</p></td>
<td align="left" valign="top"><p class="table">PollutionIncident Type Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>PortFacilityLocation</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code>  <em>must define at least one</em> <strong>attribute</strong> <code>PortFacilityName´, ´PortFacilityNumber</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">59</p></td>
<td align="left" valign="top"><p class="table">MeteoOceanographicCondition Minimum Identification</p></td>
<td align="left" valign="top"><p class="table"><code>MeteoOceanographicCondition</code></p></td>
<td align="left" valign="top"><p class="table">…   <em>is  defined</em>
<br>
<code>*THEN*</code> it <em>must define at least one</em> <strong>attribute</strong> <code>AirTemperature</code>, <code>CloudCeiling</code>, <code>CloudCover or</code>, <code>Precipitation</code>, <code>ReferencePeriod</code>, <code>Salinity</code>, <code>SeaCondition</code>, <code>SeaLevelPressure</code>, <code>SourceType</code>, <code>TidalCurrentDirection</code>, <code>TidalCurrentSpeed</code>, <code>Tides</code>, <code>Visibility</code>, <code>WaterTemperature</code>, <code>WaveDirection</code>, <code>WaveHeight</code>, <code>WeatherCondition</code>, <code>WindCurrentDirection</code>, <code>WindCurrentSpeed</code>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>