<div id="content">
<div class="sect3">
<h4 id="_1002_fields_value_format">#1002 Fields Value Format</h4>
<div class="paragraph"><p><code>*GIVEN*</code> <strong>entity(ies)</strong> of type <em>Entity</em> is defined in <strong>payload</strong></p></div>
<div class="paragraph"><p>— <code>*AND*</code> <strong>MessageType</strong> is one of <code>PUSH</code>, <code>PULL_RESPONSE/REQUEST</code>, <code>PUSH/PULL_SUBSCRIBE</code></p></div>
<div class="tableblock">
<table rules="all" width="100%" frame="border" cellspacing="0" cellpadding="4">
<caption class="title">Table 1. specific rule concern</caption>
<colgroup><col width="5%">
<col width="23%">
<col width="20%">
<col width="26%">
<col width="26%">
</colgroup><tbody>
<tr>
<td align="left" valign="top"><p class="table"><em>N</em></p></td>
<td align="left" valign="top"><p class="table"><em>Title</em></p></td>
<td align="left" valign="top"><p class="table"><em>Entity</em></p></td>
<td align="left" valign="top"><p class="table"><em>Attribute</em></p></td>
<td align="left" valign="top"><p class="table"><em>Gherkin</em></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">76</p></td>
<td align="left" valign="top"><p class="table">Format of Vessel CallSign</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>CallSign</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> up to 7 alphanumerical characters.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">77</p></td>
<td align="left" valign="top"><p class="table">Format of Vessel IMONumber</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>IMONumber</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> exactly 7 numerical characters.
<br> — <code>*AND*</code> should support validation algorithm .</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table"><a href="http://emsa.europa.eu/cise-documentation/cise-data-model-1.5.3/model/Vessel.html#MMSI" rel="nofollow"/>78</a></p></td>
<td align="left" valign="top"><p class="table">Format of Vessel MMSI</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>MMSI</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> of up to 9 numerical characters\n\
<br> — <code>*AND*</code> should start with a known 3 characters MID code (Maritime Identification Digits) .</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table"><a href="http://127.0.0.1:9001/app#!/systems" rel="nofollow">79</a></p></td>
<td align="left" valign="top"><p class="table">Format of Vessel Name</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>Name</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> up to 35 alphanumerical characters including space " " / dots “.” / dashes “-“ / single apostrophe “ ’ ”.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">80</p></td>
<td align="left" valign="top"><p class="table">Format of Vessel InMarsat</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>InMarsat</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em>  15 to 18 numerical characters starting with "00879" or "+879".</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">82</p></td>
<td align="left" valign="top"><p class="table">Format of Vessel Nationality</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>Nationality</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> 2 alphabetic characters in accordance with iso3166-1.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">83</p></td>
<td align="left" valign="top"><p class="table">Format of ContainmentUnit UNDG</p></td>
<td align="left" valign="top"><p class="table"><code>ContainmentUnit</code></p></td>
<td align="left" valign="top"><p class="table"><code>UNDG</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em>  4 Digit characters in accordance with UNDG code format.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">84</p></td>
<td align="left" valign="top"><p class="table">Format of ContainmentUnit LocationOnBoardContainer</p></td>
<td align="left" valign="top"><p class="table"><code>ContainmentUnit</code></p></td>
<td align="left" valign="top"><p class="table"><code>LocationOnBoardContainer</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> 1 upper case char followed by : semicolon ":" + Alphanumerical characters
<br> — <code>*AND*</code> ref should be in accordance to ISO 28005 (not evaluated).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">85</p></td>
<td align="left" valign="top"><p class="table">Format of ContainmentUnit ContainerMarksAndNumber</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>ContainerMarksAndNumber</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> 4 upper case letter characters followed by 7 digits in accordance to ISO 6346.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">86</p></td>
<td align="left" valign="top"><p class="table">Format of catch species</p></td>
<td align="left" valign="top"><p class="table"><code>catch</code></p></td>
<td align="left" valign="top"><p class="table"><code>species</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em>  3 Letter characters<br> — <code>*AND*</code> ref should be compliant to EC rules for the implementation of Council Regulation No 1224/2009.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">87</p></td>
<td align="left" valign="top"><p class="table">Format of PortLocation LocationCode</p></td>
<td align="left" valign="top"><p class="table"><code>Vessel</code></p></td>
<td align="left" valign="top"><p class="table"><code>LocationOnBoardContainer</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> 1 upper case char followed by first 2 Letters in accordance with iso-3160-1 and then following 3 Character identifying location in this country.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">88</p></td>
<td align="left" valign="top"><p class="table">Format of (LOCATION - GEOMETRY implicit) Latitude Longitude</p></td>
<td align="left" valign="top"><p class="table"><code>Location</code></p></td>
<td align="left" valign="top"><p class="table"><code>Latitude</code> and <code>Longitude</code> in <code>Geometry</code> type</p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> 1-3 digits followed by "." and 1 to 4 digits
<br> — <code>*AND*</code> be convertible to a decimal number between accepted range (Latitud -+90 Longitud -+180)
<br> — <code>*AND*</code> should present sufficient precision &gt;=2 digits (2500 meter at the equator)
<br> — <code>*AND*</code> should represent effective precision &lt; =9 digits (millimeter at the equator)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">89</p></td>
<td align="left" valign="top"><p class="table">Format of NamedLocation GeographicIdentifier</p></td>
<td align="left" valign="top"><p class="table"><code>NamedLocation</code></p></td>
<td align="left" valign="top"><p class="table"><code>GeographicIdentifier</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em>  an url  starting with "http://sws.geonames.org/" followed by digits identifying the location
<br> — <code>*AND*</code> ref should be in accordance to ISO 28005 (not evaluated).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">90</p></td>
<td align="left" valign="top"><p class="table">Format of Portfacility Portfacilitynumber</p></td>
<td align="left" valign="top"><p class="table"><code>Portfacility</code></p></td>
<td align="left" valign="top"><p class="table"><code>Portfacilitynumber</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> <strong>attribute</strong> value <em>must be composed of</em> 5 chars LOCODE followed by "-" + digits</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">93</p></td>
<td align="left" valign="top"><p class="table">Format of Metadata Language</p></td>
<td align="left" valign="top"><p class="table"><code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>Language</code> in <code>metadata</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> ref value must be composed of three-letter codes based on ISO 639-3 standard.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">94</p></td>
<td align="left" valign="top"><p class="table">Format of Metadata Designation</p></td>
<td align="left" valign="top"><p class="table"><code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>Designation</code> in <code>metadata</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> ref value must be a  valid name of CISE Data Model entity.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">95</p></td>
<td align="left" valign="top"><p class="table">Format of Metadata Language</p></td>
<td align="left" valign="top"><p class="table"><code>Document</code></p></td>
<td align="left" valign="top"><p class="table"><code>UniqueIdentifier</code> in <code>UUID</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code>  <em>must be composed of</em> standard 8-4-4-4-12 digits format value</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">96</p></td>
<td align="left" valign="top"><p class="table">Format of Agent ContactInformation</p></td>
<td align="left" valign="top"><p class="table"><code>Agent</code></p></td>
<td align="left" valign="top"><p class="table"><code>ContactInformation</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> ref value <em>must be composed of</em> a VCARD standard format structure.
<br> — <code>*AND*</code> ref value <em>should define</em> minimum informations for organization / individual (VERSION + N)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">97</p></td>
<td align="left" valign="top"><p class="table">Format of Agent Nationality</p></td>
<td align="left" valign="top"><p class="table"><code>Agent</code></p></td>
<td align="left" valign="top"><p class="table"><code>Nationality</code></p></td>
<td align="left" valign="top"><p class="table"><code>*THEN*</code> ref value <em>must contains</em> with 2 upper characters format
<br> — <code>*AND*</code> ref value <em>should define</em> a listed ISO-3166 .</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>